<% include header %>

<div class="jumbotron">
    <div class="container">
        <h1>Contact</h1>
        <br />

        <form action="/action_page.php">
            <div class="form">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Jane Doe">
            </div>
            <br />
            <div class="form">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email" placeholder="janedoe@gmail.com" required>
            </div>
            <br />
            <div class="form">
                <label for="phone">Phone:</label>
                <input type="tel" class="form-control" id="phone" placeholder="123-456-7890">
            </div>
            <br />
            <div class="form">
                <label for="message">Message:</label>
                <textarea rows="4" class="form-control" id="message" placeholder="Type your message here."></textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-default" id="submitButton">Submit</button>
        </form>

        <div class="col-lg-1"></div>
    </div>
</div>

<% include footer %>